.home {
	background-color: var(--bg);
	color: var(--text);
	padding: 2rem;

	&__hero {
		text-align: right;
		padding: 3rem 1rem;
		background-color: var(--primary-dark);
		border-radius: 12px;
		margin-bottom: 3rem;
		background-image: var(--home-hero-bg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		> div {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		h1,
		p {
			padding-right: 4rem;
		}
		h1 {
			font-size: 2.5rem;
			margin-bottom: 1rem;
		}

		p {
			font-size: 1.2rem;
			margin-bottom: 2rem;
		}

		span {
			color: var(--accent);
		}

		.btn-primary {
			align-self: center;
		}
	}

	@media (max-width: 767px) {
		padding: 2rem 0.5rem;

		> div {
			align-items: flex-end;
		}

		h1,
		p {
			padding-right: 0;
			margin-right: 0;
			text-align: right;
			width: 100%;
		}

		.btn-primary {
			align-self: flex-end;
		}
	}

	&__featured {
		text-align: center;
		margin-top: 2rem;

		h2 {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}

	.swiper {
		padding: 1rem;
		max-width: 500px;
		margin: 0 auto;

		.swiper-slide {
			display: flex;
			justify-content: center;
		}
	}

	.swipe-hint {
		text-align: center;
		margin-top: 1rem;
		font-style: italic;
		opacity: 0.7;
		color: var(--text);
		user-select: none;
	}

	.error {
		color: red;
		text-align: center;
		margin-top: 1rem;
	}
	.home__cta {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--primary-dark);
		color: var(--text);
		padding: 3rem 1rem;
		border-radius: 12px;
		margin-top: 3rem;
		text-align: center;

		.cta-text {
			max-width: 500px;
			margin: 0;

			h3 {
				font-size: 2rem;
				margin-bottom: 1rem;
			}

			p {
				font-size: 1.2rem;
				margin-bottom: 1.5rem;
			}

			.cta-button-wrapper {
				margin-top: 1.5rem;
				display: flex;
				justify-content: center;
			}
		}

		.cta-img {
			margin: 2rem 0 0 0;

			img {
				max-width: 250px;
				height: auto;
				border-radius: 12px;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
				display: block;
				margin: 0 auto;
			}
		}

		@media (min-width: 768px) {
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			text-align: left;

			.cta-text {
				margin-left: 0;
				margin-right: 2rem;
				max-width: 400px;

				.cta-button-wrapper {
					justify-content: flex-start;
					margin-top: 1rem;
				}
			}

			.cta-img {
				margin: 0 0 0 auto;
			}
		}
	}
}
