html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	padding-top: 60px;
	min-height: 100vh;
	padding-bottom: 60px;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	color: var(--text);
	transition: background-color 0.1s ease, color 0.1s ease;
}

a {
	color: var(--text);
	text-decoration: none;
	transition: color 0.2s ease;

	&:hover {
		color: var(--primary-light);
	}
}
:root {
	--primary-dark: #121212;
	--bg: #1e1e1e;
	--text: #f0f0f0;
	--accent: #00bcd4;
}
