html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  padding-top: 10vh;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.1s ease, color 0.1s ease;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--primary-light);
  }
}

