// Base palette
$blue: #3B82F6;
$blue-light: #60A5FA;
$blue-dark: #1F56B3;

$gray-light: #F0F6FF;
$gray: #D1E0F5;
$gray-dark: #1E293B;

$white: #ffffff;
$black: #0F172A;

$primary: $blue;
$primary-hover: $blue-dark;
$bg-light: $gray-light;
$bg-dark: $black;
