body.dark {
	--bg: #0b0f14;
	--text: #dadde3;
	--accent: #dc7a0a;
	--primary-light: #7c3aed;
	--primary-dark: #1e1b26;
}

body.light {
	--bg: #faf9f6;
	--text: #2c2f38;
	--accent: #dc7a0a;
	--primary-light: #5b21b6;
	--primary-dark: #ffffff;
}

.theme-toggle {
	margin-left: 1rem;
	background: none;
	border: none;
	font-size: 1.3rem;
	cursor: pointer;
	color: var(--text);
}
