.app-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5vh;
	z-index: 1000;
	text-align: center;
	padding: 1rem 0;
	font-size: 14px;
	user-select: none;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);

	&.light {
		background-color: #fff;
		color: #000;
	}

	&.dark {
		background-color: #001529;
		color: #fff;
	}
}
